---
layout: default
title: Home
---

<div class="posts">
  {% assign temp="testtest" %}
  {{ temp }}
  <ul>
    {% for category in site.categories %}
      {% assign categoryName = category | first %}
      {% if categoryName != "posts"%}
        <li><a href="{{ site.baseurl }}/posts/{{ category | first }}">{{ category | first }}</a>
          <ul>
            {% for post in category.last %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | slice: 0, 10 }}&nbsp;&nbsp;&nbsp;{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
