---
layout: default
title: Home
---


{% for depth1 in site.rootfolder %}
  {% if depth1[1].subfolder == false %}
    ㄴ 하위 x {{ depth1[0] }}<br>
  {% else %}
    ㄴ 하위 o {{ depth1[0] }}<br>
    {% for depth2 in depth1[1] %}
      {% if depth2[1].subfolder == false %}
        ㄴㄴ하위x {{ depth2[0] }}<br>
      {% else %}
        ㄴㄴ하위o {{ depth2[0] }}<br>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}


<div class="posts">
{% for post in site.categories %}
  <h3>{{ post.category }} {{ post.date }}<h3 />
{% endfor %}
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <hr />
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>