<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <!-- Profile -->
  <div class="sidebar-item sidebar-profile-box">
    <img class="sidebar-profile-image" src="{{ site.baseurl }}/public/image/About Me/sidebar_profile.png" >
    <div class="sidebar-profile-description">
      <span>
        {{ site.description }}
      </span>
    </div>
  </div>
  <!-- Profile End -->

  <nav class="sidebar-nav">
    <!-- Home -->
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <!-- Home End -->
    <!-- Posts -->
    {% comment %}
    지금 루트 빼고 3depth까지만 구현해놓음
    근데 이건 아닌거 같다... 나중에 다시 구현해보자.
    {% endcomment %}
    {% for depth1 in site.rootfolder %}
      {% if depth1[1].subfolder == false %}
        <!-- 1 depth post -->
        <a class="sidebar-nav-item" href="{{ site.url }}/{{ site.postroot }}/{{ depth1[0] }}">{{ depth1[0] }}</a>
      {% else %}
        <input id="{{ depth1[0] }}" class="toggle" type="checkbox">
        <label for="{{ depth1[0] }}" class="lbl-toggle sidebar-nav-item" tabindex="0">{{ depth1[0] }}</label>
        <div class="collapsible-content subcategories">
        {% for depth2 in depth1[1] %}
          {% if depth2[1].subfolder == false %}
            <!-- 2 depth post -->
            <a class="sidebar-nav-item" href="{{ site.url }}/{{ site.postroot }}/{{ depth1[0] }}/{{ depth2[0] }}">{{ depth2[0] }}</a>
          {% else %}
            <input id="{{ depth2[0] }}" class="toggle" type="checkbox">
            <label for="{{ depth2[0] }}" class="lbl-toggle sidebar-nav-item" tabindex="0">{{ depth2[0] }}</label>
            <div class="collapsible-content subcategories">
                {% for depth3 in depth2[1] %}
                {% if depth3[1].subfolder == false %}
                  <!-- 3 depth post -->
                  <a class="sidebar-nav-item" href="{{ site.url }}/{{ site.postroot }}/{{ depth1[0] }}/{{ depth2[0] }}/{{ depth3[0] }}">{{ depth3[0] }}</a>
                {% else %}
                  <input id="{{ depth3[0] }}" class="toggle" type="checkbox">
                  <label for="{{ depth3[0] }}" class="lbl-toggle sidebar-nav-item" tabindex="0">{{ depth3[0] }}</label>
                  <div class="collapsible-content subcategories">
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    <!-- Posts End -->
  </nav>

  <!-- sidebar bottom -->
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
  <!-- sidebar bottom end -->
</div>