---
layout: default
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    drawTOC()
  })

  function drawTOC() {
    document.querySelectorAll("#post-content h1, " +
                              "#post-content h2, " +
                              "#post-content h3, " +
                              "#post-content h4, " +
                              "#post-content h5, " +
                              "#post-content h6").forEach(hTag => addTocRow(hTag.tagName, hTag.id, hTag.innerText))
  }

  function addTocRow(tagName, id, title) {
    const span = document.createElement("span")
    span.id = id
    span.innerText = title
    span.classList = [tagName]

    const aTag = document.createElement("a")
    aTag.href = document.location.origin + document.location.pathname + "#" + id
    aTag.append(span)

    document.getElementById("toc").append(aTag)
  }
</script>

<style>
  html {
    scroll-behavior: smooth;
  }

  #toc-container {
    position: absolute;
    top: 6rem;
    left: 70%;
  }

  #toc {
    display: flex;
    flex-direction: column;

    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    align-self: start;

    font-size: 0.7rem;
  }
  #toc .H1 {
    background-color: red;
  }
  #toc .H2 {
    padding-left: 0.5rem;
    background-color: black;
  }
  #toc .H3 {
    padding-left: 1.0rem;
    background-color: blueviolet;
  }
  #toc .H4 {
    padding-left: 1.5rem;
    background-color: hotpink;
  }
  #toc .H5 {
    padding-left: 2.0rem;
    background-color: saddlebrown;
  }
  #toc .H6 {
    padding-left: 2.5rem;
    background-color: beige;
  }
</style>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <div id="post-content">
    {{ content }}
  </div>
</div>

<hr>
<div>
  {% assign splitUrl = page.url | split: "/" %}
  <a href="/posts/{{ splitUrl[2] }}"><h3>Back to category</h3></a>
  </ul>
</div>
<br>
<br>
